* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Public Sans;
  max-width: 1440px;
  overflow-x: hidden;
}

.logo {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 110px;
  padding-right: 110px;
  position: relative;
  z-index: 5;
  min-height: 100px;
}

.navigation__open {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navigation__open li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 39px 0px;
  height: 100%
}

.navigation__open li::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(to right, #31d35c, #9698a6);;
  height: 5px;
  bottom: 0;
  width: 100%;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.navigation__open li:hover::before {
  transform: scale(1)
}

.navigation__open li a {
  color: black;
  text-decoration: none;
  
}

.btn__invite {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(to right, #31d35c, #9698a6);
}

.btn__invite:hover {
  background-image: linear-gradient(to right, rgba(49, 211, 92, 0.7), rgba(150, 152, 166, 0.7));
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .container {
    padding-right: 60px;
    position: relative;
  }
  .hamburger {
    display: block;
  }
  .btn__invite {
    display: none;
  }
  .navigation__open {
    position: absolute;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    top: 90px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 40px 0px;
    z-index: 3;
    transform: scale(0);
  }

  .navigation__open li a {
    font-size: 25px;
  }
}

.navigation__mobile {
  transform: scale(1);
  background-color: white;
}
